* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    background-color: hsl(217, 54%, 11%); 
    color: beige;
    font-family: 'Outfit', sans-serif;
}

.card {
    background-color: hsl(216, 50%, 16%);
    max-width: 330px;
    border-radius: 12px;
    margin: 60px 25px;
}

.pic {
    max-width: 330px;
    max-height: 330px;
}

.pic:hover {
    background-color: hsl(178, 100%, 50%);
    width: 280px;
    height: 280px;
    position: relative;
    left: 25px;
    top: 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    background-image: url('imgs/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    max-width: 280px;
    max-height: 280px;
    margin: 20px 22px 0px 22px;
    border-radius: 8px;
}

.hero:hover {
    cursor: pointer;
    opacity: 0.6;
    position: relative;
    left: -25px;
    top: -20px;
}

.content {
    margin-left: 22px;
    margin-right: 22px;
}

.title {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    padding-top: 28px;
}

.title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 18px;
}

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: hsl(215, 32%, 27%) solid 2px;
}

.ethereum {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%)
}

.iconethereum {
    padding-right: 5px;
}

.time {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 15px;
}

.iconclock {
    padding-right: 10px;
}

.box2 {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.avatar {
    max-width: 30px;
    max-height: 30px;
    border: white solid 1px;
    border-radius: 50%;
}

span {
    color: white;
}
span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 400px) {
    .card {
        margin: 135px 540px;
        max-width: 330px;
        width: 330px;
    }

    .hero {
        margin: 20px 25px 0px 25px;
    }

    .avatar {
        border: none;
    }
}